@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: "Poppins", sans-serif; /* importa font de letra Poppins como padrão */ 
}

body{
    background: linear-gradient(45deg, black, #00224C);
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 90vw;
}

.form {
    background: white;
    max-width: 450px;
    min-height: 60vh;
    margin: 0 auto;
    border: 2px solid #ffffff;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 2rem;
}

h1{
    color: #A1272C;
    text-align: center;
}



h2{
    color: #A1272C;
    align-self: center;
    margin-bottom: 1rem;
}

input, select{
    font-size: 0.9rem;
    color: rgb(0,0,0,0.7);
    border: 1px solid rgb(0,0,0,0.6);
    border-radius: 10px;
    padding: 0.3rem;
    height: 30px;
    margin: 0 0 1.5rem;
}

.principal{
    display: flex;
    flex-direction: column;
}

submit{
    display: none;
   
}

.enviar_botao{
    cursor: pointer;
    border-radius: 5px;
    width: 100px;
    height: 35px;
    background: linear-gradient(to left,#A1272C, #E4353D);
    color: #ffffff;
    transition: all 0.3s ease;
}

.voltar_botao{
    cursor: pointer;
    border-radius: 5px;
    width: 100px;
    height: 35px;
    background: linear-gradient(to left,#A1272C, #E4353D);
    color: #ffffff;
    transition: all 0.3s ease;
}

.enviar_botao:hover{
    background: linear-gradient(to right,#A1272C, #E4353D);
    color: #ffffff;
    letter-spacing: 0.5px;
}

.voltar_botao:hover{
    background: linear-gradient(to right,#A1272C, #E4353D);
    color: #ffffff;
    letter-spacing: 0.5px;
}

form .botoes{
    text-align: center;
    margin: 1rem 0;
}


.regiao{
    color: rgb(0,0,0,0.2);
}

form{
    color: #00224C; 
}

.copyright{
    color: #00224C; 
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 15px;
}



input::placeholder{
    color: rgb(0,0,0,0.5);
}

input:focus, select:focus{
    background-color: rgba(252, 116, 6, 0.233);
}

.logo{
    width: 50%;
    padding: 1rem;
}
